{% extends "layout.html" %}

{% block title %}
     Tests
{% endblock %}

{% block main %}

     <form action="/tests" method="post">
        <div class="form-group">
            <input list = 'st' autocomplete="off"  class="form-control"  name="state" placeholder="State" type="text" required>
            <datalist id="st" > 
              {% for i in s %}
                <option>{{i}}</option>
              {% endfor %}
            </datalist>
        </div>
        <button class="btn btn-primary" type="submit" style="background-color:black; border-color:black;">Search</button>
     </form>
    
{% endblock %}